.divTable {
    display: table;
    width: 100%;
    margin-top: 2%;
}

.divTableRow {
    display: table-row;
}

.divTableCell, .divTableHead {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
}

.divTableHeaderCell {
    border: 1px solid #999999;
    display: table-cell;
    padding: 3px 10px;
    text-align: center;
}

.divTableHeading {
    background-color: #EEE;
    display: table-row;
    font-weight: bold;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}